@import "../fonts/Palanquin-Thin.ttf";
@import "../fonts/MerriweatherSans-Bold.ttf";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$primary: #1b9fda;
$secondary: white;
$enable-caret: false;
$font-family-base: "Palanguin-Thin", sans-serif;
$headings-font-family: "MerriweatherSans-Bold", sans-serif;



@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.navbar {
  padding-top: 10px;
  padding-bottom: 5px;
  padding-right:5px;
  padding-left:5px;
  
}

.color-secondary {
  color: $secondary;
}

.nav-link{
  padding-right:0;
  padding-left:0;
}

.call-to-action {
  font-size: xx-large;
}

.vertical-align-m {
  vertical-align: middle;
}

#phone-container > button {
  width: auto;
}

#phone-container > button > a{
  text-decoration: none;
}

#phone-container {
  &{
    padding: 0;
  }
}

.color-primary {
  color: $primary;
}
#navbar-brand-logo-cont {
  width: 200px;
  height: 50px;
}

#navbar-top-content {
  padding: 0;
  //padding-top: 5px;
}

.image-fit{
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.image-fixed{
  overflow:hidden;
  width : 100%;
  height: 100%;
  max-width: 2000px;
}

.image-overlay{
  position: absolute;
  top : 0;
  left: 0;
  bottom : 0;
   
}
.relative{
  position: relative;
}

#navbar-brand-logo {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.navbar-logo-container {
  margin-right: 0;
  padding-left: 0;
}

.outline {
  //border: solid red;
  border-width: 2px;
}

.outline2 {
  //border: solid blue;
  border-width: 1px;
}



#navbar > a {
  font-weight: normal;
}

.mega-menu {
  position: static;
}

#navbar-items-holder {
  width: 100%;
  align-items: center;
  padding-top: 5px;
  margin: 0;
}

#navbar-items-holder {
  & {
    vertical-align: bottom;
  }
}

#navbar-items-holder > li {
  padding-right: 1.4vw;
}

.navbar-toggler {
  margin-top: 10px;
}

.dropdown-menu[data-bs-popper] {
  top: auto;
  left: 33%;
}
#navbar-drodown-container{
  text-align: center;
  width:auto;
  padding-left:8px;
  padding-right:8px;
}

#footer-container{
background-color: $secondary;
}

.home-carousel-image-container{
  height: 600px;
  overflow: hidden;
}

#navbar-container{
  background-color: $secondary;
}

 .fade-enter-from{
        opacity: 0.3;
    }

    .fade-enter-to{
        opacity: 1;
    }

    .fade-enter-active{
        transition: all 1s ease;
    }

     .fade-leave-from{
        opacity: 1;
    }

    .fade-leave-to{
        opacity: 0;
    }

    .fade-leave-active{
        transition: all 1s ease;
    }


