@import "../fonts/Palanquin-Thin.ttf";
@import "../fonts/MerriweatherSans-Bold.ttf";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$primary: #1b9fda;
$secondary: white;
$enable-caret: false;
$font-family-base: "Palanguin-Thin", sans-serif;
$headings-font-family: "MerriweatherSans-Bold", sans-serif;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.color-secondary {
  color: $secondary;
}

.call-to-action {
  font-size: xx-large;
}

.vertical-align-m {
  vertical-align: middle;
}

#phone-container > button {
  width: auto;
}

.color-primary {
  color: $primary;
}
#navbar-brand-logo-cont {
  width: 200px;
  height: 50px;
}

#navbar-top-content {
  padding: 0;
  //padding-top: 5px;
}

.navbar {
  margin-top: 0;
  padding: 0;
}

#navbar-brand-logo {
  max-width: 100%;
  height: auto;
  margin-left: 0;
}

.navbar-logo-container {
  margin-right: 0;
  padding-left: 0;
}

.outline {
  //border: solid red;
  border-width: 2px;
}

.outline2 {
  //border: solid blue;
  border-width: 1px;
}

.navbar {
  padding-top: 0px;
  padding-bottom: 5px;
}

#navbar > a {
  font-weight: normal;
}

.mega-menu {
  position: static;
}

#navbar-items-holder {
  //width: 100%;
  align-items: center;
  padding-top: 5px;
}

#navbar-items-holder {
  & {
    vertical-align: bottom;
  }
}

#navbar-items-holder > li {
  padding-right: 1.4vw;
}

.navbar-toggler {
  margin-top: 10px;
}

.dropdown-menu[data-bs-popper] {
  top: auto;
  left: 40%;
}
#navbar-drodown-container {
  width: 50%;
}
